import React from 'react';
import PropTypes from 'prop-types';
import styled from 'styled-components';
{{#if wantMessages}}
import { translate } from 'react-admin';
{{/if}}




const {{properCase name}} = (props) => (
<div>
   {{#if wantMessages}}
   <h1>{translate('vs.{{name}}.settings')}</h1>
   {{/if}}
</div>
);

{{ properCase name }}.propTypes = {};

export default {{properCase name}}